extends ../layout

block content
    h1.
        #{title}
    form#formAddUser(name="adduser",method="post",action="/users")
        p Name:
            input#inputName(type="text", placeholder="ex. John Smith", name="name")
        p Badge:
            input#inputBadge(type="password",  name="pass")
        p DOB:
            input#inputDob(type="date", name="dob")
        p Are You Active?:
            input#inputIsActive(type="checkbox", name="isActive")
        p
            button#btnSubmit(type="submit") submit
